<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Console appender 控制台輸出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [trace.id: %X{trace.id:-} transaction.id: %X{transaction.id:-} spanId: %X{spanId:-} error.id: %X{error.id:-}] %-5level %logger{50}-%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>